html, body{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #9b9b9b;
  }

  #mainContainer{
    border: none;
    padding: 5px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
  }
