html, body{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #9b9b9b;
    background-image: url('./img/fondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

#service {
  width: 60%;
}

#mapa{
  height: 640px;
  width: 100%;
}

.logged-in, .logged-out {
  display: none;
}

.fontList{  
  font-family: 'Helvetica' !important;
  font-weight: normal;
  color: #fff;
}

.title-footer{
  color: #ff8d14;
  font-weight: bold;
}

.footerIcons ul{
  list-style: none;
  text-decoration: none;
  padding: 0;
}