html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #bebebe !important;
  }
  
  #map {
    width: 100%;
    height: 600px;
    padding: 10px
  }
  