html, body{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #9b9b9b;
    background-image: url('./img/fondo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

#service {
  width: 60%;
}

.logged-in, .logged-out {
  display: none;
}